<a href="https://colab.research.google.com/github/pankaj18/hello_world/blob/master/rahul/rahul.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [24]:
data=pd.read_excel('pankaj.xlsx')

In [25]:
data.head()

   Unnamed: 0  Unnamed: 1  Unnamed: 2  ... Unnamed: 17 Unnamed: 18 Unnamed: 19
0         NaN         NaN         NaN  ...        CCSD        mean         std
1         NaN         NaN         NaN  ...       10.09     8.50786       2.065
2         NaN         NaN         NaN  ...        9.46     7.91832     1.98246
3         NaN         NaN         NaN  ...        9.11     7.56335     1.97849
4         NaN         NaN         NaN  ...        8.96       7.328     1.98985

[5 rows x 20 columns]

In [26]:
data=data.iloc[1:,4:18]

In [27]:
data['Unnamed: 17']

1    10.09
2     9.46
3     9.11
4     8.96
Name: Unnamed: 17, dtype: object

In [28]:
data.columns

Index(['Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17'],
      dtype='object')

In [29]:
 error_df=pd.DataFrame()
 for col in list(data.columns):
   error_df[col+'_error_m']=data[col]-data['Unnamed: 17']

In [30]:
error_df

  Unnamed: 4_error_m Unnamed: 5_error_m  ... Unnamed: 16_error_m Unnamed: 17_error_m
1              -5.73               -4.1  ...                -0.1                   0
2               -5.5              -3.97  ...               -0.09                   0
3              -5.46              -3.98  ...               -0.09                   0
4              -5.52              -4.09  ...               -0.12                   0

[4 rows x 14 columns]

In [44]:
mae_df=error_df.abs().mean(axis=0)
mae_df

Unnamed: 4_error_m     5.552500
Unnamed: 5_error_m     4.035000
Unnamed: 6_error_m     4.045000
Unnamed: 7_error_m     1.822500
Unnamed: 8_error_m     0.467500
Unnamed: 9_error_m     2.401145
Unnamed: 10_error_m    3.932500
Unnamed: 11_error_m    1.472500
Unnamed: 12_error_m    0.235000
Unnamed: 13_error_m    0.517500
Unnamed: 14_error_m    0.445000
Unnamed: 15_error_m    0.107500
Unnamed: 16_error_m    0.100000
Unnamed: 17_error_m    0.000000
dtype: float64

In [45]:
mse_df=error_df.mean(axis=0)
mse_df

Unnamed: 4_error_m    -5.552500
Unnamed: 5_error_m    -4.035000
Unnamed: 6_error_m    -4.045000
Unnamed: 7_error_m    -1.822500
Unnamed: 8_error_m     0.467500
Unnamed: 9_error_m    -2.401145
Unnamed: 10_error_m   -3.932500
Unnamed: 11_error_m   -1.472500
Unnamed: 12_error_m   -0.235000
Unnamed: 13_error_m    0.517500
Unnamed: 14_error_m    0.445000
Unnamed: 15_error_m    0.107500
Unnamed: 16_error_m   -0.100000
Unnamed: 17_error_m    0.000000
dtype: float64

In [51]:
max_mue=(error_df-error_df.max(axis=0)).abs().mean(axis=0)

In [52]:
max_mue

Unnamed: 4_error_m     0.092500
Unnamed: 5_error_m     0.065000
Unnamed: 6_error_m     0.065000
Unnamed: 7_error_m     0.082500
Unnamed: 8_error_m     0.082500
Unnamed: 9_error_m     0.057645
Unnamed: 10_error_m    0.092500
Unnamed: 11_error_m    0.082500
Unnamed: 12_error_m    0.065000
Unnamed: 13_error_m    0.032500
Unnamed: 14_error_m    0.025000
Unnamed: 15_error_m    0.042500
Unnamed: 16_error_m    0.010000
Unnamed: 17_error_m    0.000000
dtype: float64

In [53]:
max_ue=error_df.max(axis=0).abs()
max_ue

Unnamed: 4_error_m     5.4600
Unnamed: 5_error_m     3.9700
Unnamed: 6_error_m     3.9800
Unnamed: 7_error_m     1.7400
Unnamed: 8_error_m     0.5500
Unnamed: 9_error_m     2.3435
Unnamed: 10_error_m    3.8400
Unnamed: 11_error_m    1.3900
Unnamed: 12_error_m    0.1700
Unnamed: 13_error_m    0.5500
Unnamed: 14_error_m    0.4700
Unnamed: 15_error_m    0.1500
Unnamed: 16_error_m    0.0900
Unnamed: 17_error_m    0.0000
dtype: float64